body {
    color: white;
    background-color: rgb(43, 43, 72);
}

.title {
    width: fit-content;
    margin: 10px auto 10px auto;
}

.gif-table {
    width: fit-content;
    margin: 10px auto 10px auto;
}

.gif-table tr td {
    width: fit-content;
    padding: 2vi;
}

.gif-table tr td img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}